matplotlib==2.1.0
numpy==1.12.1
pandas==0.23.3
seaborn==0.8.1
sklearn==0.19.1
nltk==3.2.5
wordcloud==1.4.1
ipython==6.5.0
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyterlab==1.0.9
jupyterlab-server==1.0.0